{{- /* gotype: github.com/sbchaos/opms/cmd/optimus/internal/resource.YamlContext */ -}}
version: 2
name: {{ .Table.String }}
type: external_table
{{- if .Labels }}
labels:
  {{- range $key, $value := $.Labels }}
  {{ $key }}: {{ $value }}
  {{- end }}
{{- end }}
spec:
  {{- if .Et.Description }}
  description: {{.Et.Description}}
  {{- end }}
  project: "{{ .Et.Project }}"
  database: {{ .Et.Database }}
  name: {{ .Et.Name }}
  schema:
   {{- range $i, $value := $.Et.Schema }}
   - name: {{ $value.Name }}
     type: {{ $value.Type }}
     {{- if $value.Description }}
     description: {{ $value.Description }}
     {{- end }}
     {{- if $value.Decimal }}
     decimal:
       precision: 38
       scale: 9
     {{- end }}
   {{- end }}
  source:
    type: GOOGLE_SHEETS
    uris:
    {{- range $i, $value := $.Et.Source.SourceURIs }}
      - {{$value}}
    {{- end }}
    range: "{{.Et.Source.Range}}"
    serde_properties:
    {{- range $key, $value := $.Et.Source.SerdeProperties }}
      {{ $key }}: "{{ $value }}"
    {{- end }}
